<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    <% if resource.errors[:name].any? %>
      <div>
        <ul>
          <% resource.errors[:name].each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
    <% if resource.errors[:email].any? %>
      <div>
        <ul>
          <% resource.errors[:email].each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_field :birthday, autocomplete: "bday" %>
    <% if resource.errors[:birthday].any? %>
      <div>
        <ul>
          <% resource.errors[:birthday].each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autocomplete: "address-line1" %>
    <% if resource.errors[:address].any? %>
      <div>
        <ul>
          <% resource.errors[:address].each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if resource.errors[:password].any? %>
      <div>
        <ul>
          <% resource.errors[:password].each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <% if resource.errors[:password_confirmation].any? %>
      <div>
        <ul>
          <% resource.errors[:password_confirmation].each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
