<div class="container newpost">
  <div class="row">
    <div class="col-md-6 offset-md-3 login-form p-3">
      <%= form_with(model: post) do |form| %>
        <% if post.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
              <% post.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field form-group mt-2">
          <%= form.label :title, style: "display: block" %>
          <%= form.text_field :title, class:"form-control" %>
        </div>

        <div class="field form-group mt-2">
          <%= form.label :content, style: "display: block" %>
          <%= form.cktext_area :content, class:"form-control"  %>
        </div>

        <div class="field form-group mt-2">
          <%= form.label :image, style: "display: block" %>
          <%= form.file_field :image, class:"form-control" %>
        </div>

        <div class="field form-group mt-2">
          <%= form.label :photo, style: "display: block" %>
          <%= form.text_field :photo, class:"form-control" %>
        </div>


        <div  class="actions d-grid">
          <%= form.submit "Create Post", class: "btn btn-block btn-primary mt-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>